body {
  margin: 0;
  background-color: #292929;
}

body .sm-header {
  position: relative;
  display: none;
}

body .sm-header h1 {
  width: 100%;
  height: auto;
  text-align: center;
  color: #c5a47e;
  background-color: #292929;
  margin-bottom: 0;
}

body .sm-header .fa-bars {
  position: absolute;
  left: 20px;
  color: white;
  font-size: 40px;
  z-index: 1;
  cursor: pointer;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #292929;
  width: 20%;
  min-width: 150px;
  height: 100vh;
  border-right: 1px solid #c5a47e;
  color: #c5a47e;
  z-index: 1;
}

body header .fa-times {
  position: absolute;
  right: 10px;
  font-size: 35px;
  cursor: pointer;
  display: none;
}

body header div {
  margin-top: 2em;
  text-align: center;
  position: relative;
}

body header div h1 {
  font-size: 32px;
}

body header div p {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 4px;
}

body header nav {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header nav a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
  border-bottom: 1px solid #c5a47e;
  font-weight: bold;
  cursor: pointer;
}

body header nav a:hover {
  background-color: #c5a47e;
  color: white;
  text-decoration: none;
}

body header .icons {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: auto;
  font-size: 24px;
}

body header .icons i {
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

body header .icons i:hover {
  background-color: #c5a47e;
  border-radius: 50%;
}

body .main {
  width: 80%;
  margin-left: 20%;
  background-color: #292929;
  color: white;
  text-align: center;
}

body .main .carousel .carousel-inner .carousel-item img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  width: 100%;
  max-height: 100vh;
}

body .main .carousel .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .main .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  letter-spacing: 7px;
}

body .main .carousel .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 44px;
  margin: .7em 0;
}

body .main .carousel .carousel-inner .carousel-item .carousel-caption button {
  background-color: #c5a47e;
  border-color: #c5a47e;
  font-size: 24px;
}

body .main .services {
  margin-top: 5em;
}

body .main .services h5 {
  letter-spacing: 2px;
}

body .main .services .services-block {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: start;
}

body .main .services .services-block .services-block__elem {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

body .main .services .services-block .services-block__elem img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  width: 100%;
}

body .main .services .services-block .services-block__elem .text {
  margin: 5px 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .main .services .services-block .services-block__elem:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

body .main .about-us {
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: start;
}

body .main .about-us .about-us__elem {
  padding: 10px 15px;
}

body .main .about-us .about-us__elem h2 {
  color: #c5a47e;
}

body .main .about-us .elem__2 {
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
}

body .main .about-us .elem__2 img {
  width: 100%;
  height: 100%;
}

body .main .about-us .elem__2:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

body .main .about-us .elem__3 h5 {
  color: #c5a47e;
}

body .main .about-us .elem__3 h5 span {
  font-size: 5em;
}

body .main .project {
  width: 100%;
  margin-top: 5em;
}

body .main .project .project-container {
  margin-top: 3em;
  padding: 10px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: inherit;
  height: auto;
}

body .main .project .project-container .project-container__elem {
  position: relative;
  margin: 10px 20px;
  overflow: hidden;
}

body .main .project .project-container .project-container__elem img {
  width: 100%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

body .main .project .project-container .project-container__elem .text {
  width: 100%;
  position: absolute;
  bottom: -2.5em;
  text-align: center;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

body .main .project .project-container .project-container__elem .text h5 {
  color: #c5a47e;
}

body .main .project .project-container .project-container__elem .text h1 {
  cursor: pointer;
}

body .main .project .project-container .project-container__elem .text h1:hover {
  color: #c5a47e;
}

body .main .project .project-container .project-container__elem .text i {
  font-size: 32px;
}

body .main .project .project-container .project-container__elem:hover img {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

body .main .project .project-container .project-container__elem:hover .text {
  bottom: 10px;
}

body .main .team {
  margin-top: 5em;
}

body .main .team h3 {
  color: #c5a47e;
}

body .main .team .team-block {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

body .main .team .team-block .team-block-outer .team-block__elem {
  position: relative;
  margin: 15px;
  overflow: hidden;
}

body .main .team .team-block .team-block-outer .team-block__elem:hover .detail {
  bottom: 0;
}

body .main .team .team-block .team-block-outer .team-block__elem img {
  width: 100%;
}

body .main .team .team-block .team-block-outer .team-block__elem .detail {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  background-color: #c5a47e;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

body .main .team .team-block .team-block-outer .team-block__elem .detail .detail-socialmedia {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .main .team .team-block .team-block-outer .team-block__elem .detail .detail-socialmedia .fab {
  font-size: 34px;
  padding: 5px;
  cursor: pointer;
}

body .main .team .team-block .team-block-outer .team-block__elem .detail .detail-socialmedia .fab:hover {
  color: #292929;
}

body .main .news {
  margin: 5em 15px 0 15px;
  text-align: start;
}

body .main .news h5 {
  color: #c5a47e;
}

body .main .news .news-block {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

body .main .news .news-block .news-block__elem .news-block__elem-inner {
  overflow: hidden;
}

body .main .news .news-block .news-block__elem .news-block__elem-inner:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .main .news .news-block .news-block__elem .news-block__elem-inner img {
  width: 100%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

body .main .news .news-block .news-block__elem p {
  font-weight: bold;
}

body .main .news .news-block .news-block__elem p span {
  color: #c5a47e;
}

body .main .contact {
  margin-top: 5em;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

body .main .contact .contact-block {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
  grid-gap: 10px;
}

body .main .contact .contact-block .contact-block__elem {
  position: relative;
  margin-top: 3em;
}

body .main .contact .contact-block .contact-block__elem:hover img {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

body .main .contact .contact-block .contact-block__elem img {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  width: 100%;
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

body .main .contact .contact-block .contact-block__elem .text {
  position: absolute;
  top: 0;
  padding: 10px 0 0 10px;
}

body .main .contact .contact-block .contact-block__elem .text p {
  text-align: start;
}

body .main .contact .contact-form {
  margin-top: 5em;
}

body .main .contact .contact-form form {
  max-width: 600px;
  margin: auto;
}

body .main .contact .contact-form form .form-control {
  background-color: #292929;
  margin-top: 20px;
}

body .main .contact .contact-form form .rw-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px;
}

body .main .contact .contact-form form .rw-2 .cl {
  padding: 0;
}

body .main .contact .contact-form form .rw {
  margin-top: 20px;
}

body .main .contact .contact-form form .rw .btn-primary {
  margin: auto;
  background-color: #c5a47e;
  border-color: #c5a47e;
}

body .main footer {
  margin-top: 5em;
}

body .main footer p {
  margin-bottom: 0;
  text-align: end;
}

@media screen and (max-width: 768px) {
  body .sm-header {
    display: block;
  }
  body header {
    display: none;
  }
  body header .logo h1 {
    font-size: 28px;
  }
  body header .logo P {
    letter-spacing: 2px;
    font-size: 14px;
  }
  body header nav a {
    font-size: 16px;
  }
  body header .fa-times {
    display: block;
  }
  body .main {
    margin: 0;
    width: 100%;
  }
  body .main .services .services-block {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .about-us {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .project .project-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .team .team-block {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .news .news-block {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .contact .contact-block {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .main .contact .contact-form form .rw-2 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=style.css.map */